/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Page Background */
body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* About Section */
#about {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* Projects Section */
#projects {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* Footer */
#footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%
}